<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>876178756895-ed5m0tglt23oc2dlfmsc3ipb1cqejfm8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.876178756895-ed5m0tglt23oc2dlfmsc3ipb1cqejfm8</string>
	<key>API_KEY</key>
	<string>AIzaSyC3e_3rN13MnTXpQBLzexNV3xk7BSxEkvk</string>
	<key>GCM_SENDER_ID</key>
	<string>876178756895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shadab.DemoAssignment</string>
	<key>PROJECT_ID</key>
	<string>demoassignment-2ddef</string>
	<key>STORAGE_BUCKET</key>
	<string>demoassignment-2ddef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:876178756895:ios:375cd6344eec30f18b0c2a</string>
</dict>
</plist>